{% extends "index.html" %}
{% block contenido %}
<h2> Cambiar contraseña</h2>

<form method='post'>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
        <label for="id_old_password">Contraseña actual:</label>
        <input id="id_old_password" name="old_password" required/><br/>
    </p>
    <p>
        <label for="id_new_password">Contraseña nueva:</label>
        <input id="id_new_password" name="new_password" required/><br/>
    </p>

    <p>
        <label for="id_new_password2">Confirmar contraseña</label>
        <input id="id_new_password2" name="new_password2" required/><br/>
    </p>
    
    <button type="submit">Actualizar</button>
</form>
{% endblock %}
