{% extends "index.html" %}
<!--Seccion de autores -->
{% block contenido %}
<h2>Crear Prestamo</h2>
<form method="POST">
    {% csrf_token %}
    <label for="id_libro" name="libro">Libro: </label>
    <select type="text" id="id_libro" name="libro" required><br/>
        <option value="" >Seleccione libro</option>
        {% for libro in libros %}
            <option value = "{{libro.id}}">{{libro.titulo}}</option>
        {% endfor %}
    </select></br>

    <label for="id_usuario" name="autor">Usuario: </label>
    <select type="text" id="id_usuario_biblioteca" name="usuario_biblioteca" required>
        <option value="">Seleccionar usuario de biblioteca</option>
        {% for usuario in usuarios_biblioteca %}
        <option value="{{usuario.id}}">{{usuario.nombre}} {{usuario.apellido}} ({{usuario.cedula}})</option>
        {% endfor %}
    </select>
    <label for="id_fecha_prestamo" name="fecha_prestamo">Fecha_Prestamo: </label>
    <input type="date" id="id_fecha_prestamo" name="fecha_max"  value = "{{fecha}}"required><br/>

    <button type="submit"> Crear </button>
</form>
{% endblock %}